[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FinAna"]
	path = FinAna
	url = https://github.com/cran/FinAna
[submodule "YRmisc"]
	path = YRmisc
	url = https://github.com/cran/YRmisc
